<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quasi cumque libero doloribus odit tempora delectus fugiat voluptatibus pariatur atque!</p>
    </div>
</section>