<section class="card">
    <div class="card-body">
        <div class="jumbotrom mt-4">
            <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dicta quaerat, in atque provident inventore fugiat ea cum impedit dignissimos. Distinctio expedita praesentium magnam a itaque autem ipsum accusamus accusantium?</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eligendi assumenda laudantium modi eius et necessitatibus animi ipsa illo quaerat!</p>
            <a href="https://www.facebook.com/eddie.hg.9" class="btn btn-primary">Eddie web</a>

        </div>
    </div>
</section>
